body{
    background: #C4D0E8;
    transition: background-color 200ms linear;
    width: 100vw;
}
.header_wrap{
    /*position: fixed;*/
    background: #060542;
    transition: background-color 200ms linear;
    width: 100vw;
}

.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
    min-height: 50px;
    font-size: 20px;
    width: 90%;
}
.Header a{
    text-decoration: none;
    color: #C4D0E8;
    transition: color 200ms linear;
}

.Header a[class='active']{
    color: #C4D0E8;
}

.Search{
    display: flex;
    justify-content: space-evenly;
}

.Search input {
    height: 30px;
    border-radius: 10px;
    color: black;
    margin-right: 5px;
}
.Search input:focus {
    outline: none !important;
    border-color: greenyellow;
    box-shadow: 0 0 5px red;
}

.Categories {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
}
.Categories a:hover {
    color: red;
    transition: color 200ms linear;
}

.Bar_logo {
    display: flex;
    justify-content: space-around;
}
.Bar_logo div{
    margin-right: 70px;
    color: red;
    transition: color 200ms linear;
}

.Bar_logo a{
    font-weight: 700;
    color: #C4D0E8;
}
.user_theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.login p {
    margin-left: 15px;
    font-size: 18px;
    color: red;
    transition: color 200ms linear;
}
.login button{
    color: black;
    border-radius: 5px;
    padding: 0;
    border: silver 1px solid;
    background: #9DA6B6;
    transition: color 200ms linear;
    width: 50px;
    height: 31px;
}
.login button:hover{
    cursor: pointer;
    color: blue;
    border: cornflowerblue 1px solid;
    transition: color 200ms linear;
}

.user_login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.username{
    display: flex;
    align-items: center;
    justify-content: center;

}
.username p{
    margin-right: 15px;
}
.button_div button{
    height: 20px;
    width: 20px;
    padding: 0;
    border: none;
    background: yellow;
    transition: 0.3s;
    margin-right: 10px;
}

/*todo*/

.button_div button:hover{
    background: red;
    border-radius: 10px;
}
html[data-theme='dark'] .button_div button{
    color: white;
    background-color: #060542;
}
html[data-theme='dark'] .button_div button:hover{
    background: rgba(248,255,255,0.67);
    border-radius: 10px;

}
html[data-theme='dark'] .Search input{
    background: #060542;
    border: lightskyblue 1px solid;
    color: white;
}
html[data-theme='dark'] .Search input:focus {
    outline: none !important;
    border-color: deepskyblue;
    box-shadow: 0 0 5px deepskyblue;
}
/*-----------------*/
html[data-theme='dark'] .header_wrap{
    background-color: #C4D0E8;
}
html[data-theme='dark'] .Header a{
    text-decoration: none;
    color: #060542;
    transition: color 200ms linear;

}
html[data-theme='dark'] body{
    background: #060542;
    transition: background-color 200ms linear;
}


/*---------------------*/



.genres{

    font-size: 20px;

}
.genres .genre_div{
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
    margin-top: 200px;
    row-gap: 10px;
    margin-bottom: 100px;
}
.genre_div a{
    color: red;
    text-decoration: none;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}
.genre_div a:hover{
    color: red;
}
.submit {
    display: flex;
    justify-content: center;
    align-content: space-evenly;
    margin-right: 20px;
    transition: color 200ms linear;

}
.submit button{
    color: navajowhite;
    border-radius: 5px;
    padding: 0;
    border: cornsilk 1px solid;
    background: silver;
    color: #060542;
    transition: color 200ms linear;
    width: 50px;
    height: 31px;
}
.submit button:hover{
    cursor: pointer;
    color: blue;
    border: cornflowerblue 1px solid;
    transition: color 200ms linear;
}